<div class = "recipe-card">
  <div class = "recipe-top">
    <h3 class = "recipe-title text-center"><%= recipe.recipetitle %></h3>
    <p  class = "owner-name text-center">by: <%= @user.name %></p>
  </div>
  <div class = "recipe-bar text-center">
    <span class = "recipe-time">time: <%= recipe.time %></span>
    <span class = "recipe-serves">serves: <%= recipe.serves %></span>
  </div>
  <div class = "recipe-pic">
    <% if(recipe.imageurl != nil) %>
      <%= image_tag(recipe.imageurl, class: "recipe-img")%>
    <% else %>
      <%= image_tag("http://i.huffpost.com/gen/1182651/images/o-HEALTHY-COOKING-facebook.jpg" , class: "recipe-img") %>
    <% end %>
    <!--<img src = "" alt= "" class = "recipe-img">-->
  </div>
</div>
